*.gem
*.rbc
*.xls
*.log
*.xlsx
*.rar
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
log*/
楼幢表*/
路段框架表*/
契税含价格数据*/
原拆分楼幢表*/
商铺框架修改版本*/
